.change-password-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ededf2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.2);
  user-select: none;
}
.cp-label {
  color: gray;
  font-size: 15px;
}

.cp-input {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px inset rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  font-size: 16px;
}

.change-pass-btn {
  padding: 5px 20px;
  border: none;
  border-radius: 25px;
  box-shadow: 3px 3px 15px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.change-pass-btn:active {
  transform: translateY(10px);
}

.nav-to-accounts-page {
  position: absolute;
  left: -100px;
  top: -5px;
}
.nav-ac-btn {
  color: #000;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s;
}
.nav-ac-btn:hover {
  background-color: lightgrey;
}
.nav-ac-btn:active {
  animation: beat 0.3s linear;
}
@keyframes beat {
  0% {
    scale: 1;
  }
  50% {
    scale: 2;
  }
  100% {
    scale: 1;
  }
}
.error-password-fields {
  color: red;
}
.cp-item {
  display: flex;
  flex-direction: column;
  position: relative;
}
.eye {
  position: absolute;
  right: -25px;
  top: 2rem;
  cursor: pointer;
  opacity: 0.2;
}
.eye:hover {
  color: gray;
}
.eye-active {
  opacity: 1;
}

.success-change-pass {
  position: absolute;
  right: -900px;
  z-index: -1;
  animation: pop 1.5s ease-out;
}

@keyframes pop {
  0% {
    z-index: 3;
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(-450px);
    z-index: -1;
  }
}
